{% extends "base.html" %}{% block title %} Catalogue {% endblock %}
{% block content %}
<!-- <section class="section is-title-bar">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <ul>
                    <li>Admin</li>
                    <li>Katalog</li>
                </ul>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="buttons is-right">
                    <a href="https://github.com/vikdiesel/admin-one-bulma-dashboard" target="_blank"
                        class="button is-primary">
                        <span class="icon"><i class="mdi mdi-github-circle"></i></span>
                        <span>GitHub</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="hero is-hero-bar">
    <div class="hero-body">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">
                        Katalog
                    </h1>
                </div>
            </div>
            <div class="level-right" style="display: none;">
                <div class="level-item"></div>
            </div>
        </div>
    </div>
</section>
<div class="card has-table">
    <header class="card-header">
        <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-clipboard-list"></i></span>
            Produkty
        </p>
        <div class="card-header-icon">
            <button class="button is-primary js-modal-trigger" data-target="modal-js-example">
                <span class="icon"><i class="mdi mdi-plus-box is-size-4"></i></span>
            </button>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="notification is-{{category}} is-light" role="alert">
        <span>{{ message }}</span>
        <button class="delete"></button>
    </div>
    {% endfor %}
    {% endwith %}
    <div class="card-content">
        <div class="b-table has-pagination">
            <div class="table-wrapper">
                <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <!-- <th class="is-checkbox-cell">
                                <label class="b-checkbox checkbox">
                                    <input type="checkbox" value="false">
                                    <span class="check"></span>
                                </label>
                            </th> -->
                            <th></th>
                            <th>Nazwa</th>
                            <th>Ostatnia cena zakupu</th>
                            <th>Jm</th>
                            <th class="is-hidden-mobile">Rodzaj</th>
                            <th class="is-hidden-mobile">Producent</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item, type, bulk_pack, producer, measurement_unit, edition, language, platform
                        in catalogue %}
                        <tr>
                            <!-- <td class="is-checkbox-cell">
                                <label class="b-checkbox checkbox">
                                    <input type="checkbox" value="false">
                                    <span class="check"></span>
                                </label>
                            </td> -->
                            <td class="is-image-cell">
                                <div class="image">
                                    <img src="https://avatars.dicebear.com/v2/initials/{{ item.name }}.svg"
                                        class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Nazwa">{{ item.name }}</td>
                            <td data-label="Ostatnia cena zakupu">{{ item.last_purchase_price }}</td>
                            <td data-label="Jm">{{ measurement_unit.abbreviation }}</td>
                            <td class="is-hidden-mobile" data-label="Rodzaj">{{ type.name }}</td>
                            <td class="is-hidden-mobile" data-label="Producent">{{ producer.name }}</td>
                            <td class="is-actions-cell">
                                <div class="buttons is-right">
                                    <button class="button is-small is-primary card-header-icon card-toggle"
                                        type="button">
                                        <span class="icon"><i class="mdi mdi-eye"></i></span>
                                    </button>
                                    <!-- <button class="button is-small is-danger is-hidden-mobile" type="button">
                                        <span class=" icon"><i class="mdi mdi-trash-can"></i></span>
                                    </button> -->
                                </div>
                            </td>
                        <tr class="is-hidden">
                            <td colspan="8">
                                <div class="card-content columns">
                                    <div class="column">
                                        <p class="heading">Opis</p>
                                        <ul class="is-size-7">
                                            <li>
                                                Symbol:
                                                <span class="has-text-weight-semibold">{{ item.stock_code}}</span>
                                            </li>
                                            <li>
                                                Nazwa:
                                                {% if item.name == none %}
                                                <span class="has-text-weight-semibold">-</span>
                                                {% else %}
                                                <span class="has-text-weight-semibold">{{ item.name }}</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                Alias:
                                                <span class="has-text-weight-semibold">{{ item.alias }}</span>
                                            </li>
                                            <li>
                                                Producent:
                                                <span class="has-text-weight-semibold">{{ producer.name }}</span>
                                            </li>
                                            <li>
                                                Rodzaj:
                                                <span class="has-text-weight-semibold">{{ type.name }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column">
                                        <p class="heading">Opakowanie zbiorcze</p>
                                        <ul class="is-size-7">
                                            <li>
                                                Rodzaj:
                                                <span class="has-text-weight-semibold">{{ bulk_pack.name }}</span>
                                            </li>
                                            <li>
                                                Pojemność:
                                                <span class="has-text-weight-semibold">{{ item.bulk_pack_capacity
                                                    }}</span>
                                            </li>
                                            <li>
                                                Ilość na palecie:
                                                <span class="has-text-weight-semibold">
                                                    {{item.no_bulk_pack_on_palette}}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column">
                                        <p class="heading">Cechy</p>
                                        <ul class="is-size-7">
                                            <li>
                                                Wydanie:
                                                <span class="has-text-weight-semibold">{{ edition.name }}</span>
                                            </li>
                                            <li>
                                                Język:
                                                <span class="has-text-weight-semibold">
                                                    {{ language.country_name }} ({{language.code_two_char }})
                                                </span>
                                            </li>
                                            <li>
                                                Platforma:
                                                <span class="has-text-weight-semibold">
                                                    {{ platform.name }} ({{ platform.alias }})
                                                </span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="column">
                                        <p class="heading">Dodatkowe</p>
                                        <ul class="is-size-7">
                                            <li>
                                                Ostatnia cena zakupu: <span class="has-text-weight-semibold">{{
                                                    item.last_purchase_price }}</span>
                                            </li>
                                            <li>
                                                Jm:
                                                <span class="has-text-weight-semibold">
                                                    {{ measurement_unit.name }} ({{measurement_unit.abbreviation }})
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div id="modal-js-example" class="modal">
    <div class="modal-background">

        <div class="modal-content" style="margin: 1.5rem auto; width: 70%;">
            <div class="box" style="margin: 0;">
                <!-- <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon"><i class="mdi mdi-plus-circle default"></i></span>
                        Dodaj produkt
                    </p>
                </header> -->
                <div class="card-content">
                    <form action="#" method="POST">
                        {{ catalogue_add_form.csrf_token }}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Jm*</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    {{ catalogue_add_form.measurement_unit_id()}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Typ*</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    {{ catalogue_add_form.catalogue_type_id()}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Opakowanie zbiorcze*</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    {{ catalogue_add_form.bulk_pack_id()}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Producent*</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    {{ catalogue_add_form.producer_id()}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Edycja*</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    {{ catalogue_add_form.edition_id()}}
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Język*</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    {{ catalogue_add_form.language_id()}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Platforma*</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    {{ catalogue_add_form.platform_id()}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Symbol*</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    {{ catalogue_add_form.stock_code(class="input")}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Nazwa</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    {{ catalogue_add_form.name(class="input")}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Alias</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    {{ catalogue_add_form.alias(class="input")}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Ostatnia cena zakupu</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    {{ catalogue_add_form.last_purchase_price(class="input")}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Ilość w opakowaniu zbiorczym</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    {{ catalogue_add_form.bulk_pack_capacity(class="input")}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Ilość opakowań zbiorczych na palecie</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    {{ catalogue_add_form.no_bulk_pack_on_palette(class="input")}}
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"></div>
                            <div class="field-body">
                                <div class="field">
                                    {{ catalogue_add_form.add_product(class="button is-primary", type="submit")}}
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <p class="help">*Pole wymagane</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
</div>
{% endblock %}