{% extends "base.html" %}{% block title %} Dashboard {% endblock %}
{% block content %}
<section class="hero is-hero-bar">
    <div class="hero-body">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">
                        Strona główna
                    </h1>
                </div>
            </div>
            <div class="level-right" style="display: none;">
                <div class="level-item"></div>
            </div>
        </div>
    </div>
</section>
<section class="section is-main-section">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="is-widget-label">
                                <h3 class="subtitle is-spaced">
                                    Klienci
                                </h3>
                                <h1 class="title">
                                    {{ num_of_trade_partners }}
                                </h1>
                            </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                                        class="mdi mdi-account-multiple mdi-48px"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="is-widget-label">
                                <h3 class="subtitle is-spaced">
                                    Sprzedaż aktualny <br> miesiąc
                                </h3>
                                {% if total_sales_curr_month == none %}
                                <h1 class="title">0.00 PLN</h1>
                                {% else %}
                                <h1 class="title">{{ total_sales_curr_month }} PLN</h1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon"><span class="icon has-text-warning is-large"><i
                                        class="mdi mdi-cart-outline mdi-48px"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="is-widget-label">
                                <h3 class="subtitle is-spaced">
                                    Sprzedaż poprzedni <br> miesiąc
                                </h3>
                                {% if total_sales_last_month == none %}
                                <h1 class="title">0.00 PLN</h1>
                                {% else %}
                                <h1 class="title">{{ total_sales_last_month }} PLN</h1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon"><span class="icon has-text-info is-large"><i
                                        class="mdi mdi-cart-outline mdi-48px"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="section is-main-section" style="padding: 0 1.5rem 1.5rem 1.5rem">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="is-widget-label">
                                <h3 class="subtitle is-spaced">
                                    Sprzedaż względem <br> poprzedniego miesiąca
                                </h3>
                                <h1 class="title">
                                    {{ sales_comp_prev_month - 100 }} %
                                </h1>
                            </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon"><span class="icon has-text-link is-large"><i
                                        class="mdi mdi-finance mdi-48px"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="is-widget-label">
                                <h3 class="subtitle is-spaced">
                                    Towary z najwyższą <br> sprzedażą
                                </h3>
                                <ul style="list-style: circle; width: 180px;">
                                    {% for catalogue in catalogues_with_biggest_sale_month %}
                                    <li class="has-text-weight-bold">{{ catalogue[0] }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                                        class="mdi mdi-arrow-up-bold mdi-48px"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="is-widget-label">
                                <h3 class="subtitle is-spaced">
                                    Towary z najniższą <br> sprzedażą
                                </h3>
                                <ul style="list-style: circle; width: 180px;">
                                    {% for catalogue in catalogues_with_smallest_sale_month %}
                                    <li class="has-text-weight-bold">{{ catalogue[0] }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="level-item has-widget-icon">
                            <div class="is-widget-icon"><span class="icon has-text-danger is-large"><i
                                        class="mdi mdi-arrow-down-bold mdi-48px"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}